#cwm-openai-div, #cwm-openai-div * {
    z-index: 999999999999;
    font-size: 12px;
}

#cwm-openai-div {
  position: fixed;
  width: 454px;
  background-color: #333;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
}

#cwm-openai-div-header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  color: white;
  padding: 8px;
}

#cwm-openai-div-header-div button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}

/* #cwm-openai-div-input-div {

} */

#cwm-openai-prompt {
  min-width: 440px;
  max-width: 440px;
  height: 100px;
  margin: 5px;
  background-color: #222;
  color: white;
  border: none;
}

#cwm-openai-parameters-div {
  margin: 0 5px;
}

#cwm-openai-parameters-div div label {
  font-size: 9px;
  color: #ccc;
}
#cwm-openai-parameters-div div:first-child input {
  width: 112px;
}

#cwm-openai-parameters-div div input {
  background-color: #222;
  color: white;
  border: none;
  padding: 0;
  margin: none;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

#cwm-openai-parameters-div div:not(:first-of-type) input {
  margin-left: 2px;
  width: 64px !important;
  appearance: none;
}

#openai-response-clear, #openai-response-copy {
  margin-right: 5px;
}
#openai-response-clear, #openai-response-copy, #openai-response-use-in-input {
  cursor: pointer;
  display: none;
  color: #bbb;
}

#openai-response-clear:hover, #openai-response-copy:hover, #openai-response-use-in-input:hover {
  text-decoration: underline;
}

#openai-response {
  display: block;
  color: white;
  width: 440px;
  margin: 5px 5px;
  text-align: center;
}